<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FakeCSV page designed to create dummy data schema">
    <title>FakeCSV</title>

    {% load static %}
    {% load tailwind_tags %}
    {% tailwind_css %}

    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>

<body class="font-helvetica">
  <header>
    {% include 'base/header/header.html' %}
  </header>

  <main>
    {% if messages %}
      <div class="flex justify-center">
        <div class="alerts w-1/2">
          {% for message in messages %}
            <div role="alert"
            class="alert text-center p-4 rounded-lg border border-dark shadow-md
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    bg-green text-white
                  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    bg-red text-white
                  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    bg-yellow text-white
                  {% else %}
                    bg-gray-500 text-white
                  {% endif %}"
            >
            {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>


  {% block scripts %}

  {% endblock %}

</body>
</html>