{% extends "base/base_generic.html" %}
{% load static %}

{% block content %}
<div class="container py-6 pl-16">

  <form method="post">
    {% csrf_token %}
    

    <div class="flex mt-2 w-%90 h-9">
      <h2 class="font-medium text-2xl">New schema</h2>
      <button type="submit" class="rounded bg-blue text-white w-20 h-10 ml-auto my-4">Submit</button>
    </div>

    <div>
      <div class="flex flex-col">
        <p class="my-2">
          <label class="block mb-2" for="{{ form.name.id_for_label }}">
            {{ form.name.label }}
          </label>
          {{ form.name }}
        </p>
      </div>
      <div class="flex flex-col">
        <p class="my-2">
          <label class="block mb-2" for="{{ form.column_separator.id_for_label }}">
            {{ form.column_separator.label }}
          </label>
          {{ form.column_separator }}
        </p>
      </div>
      <div class="flex flex-col">
        <p class="my-2">
          <label class="block mb-2" for="{{ form.string_character.id_for_label }}">
            {{ form.string_character.label }}
          </label>
          {{ form.string_character }}
        </p>
      </div>
    </div>

    <div class="mx-4">
      <h2 class="font-medium text-2xl py-5">Schema columns</h2>

      {{ formset.management_form }}
      <!-- <fieldset class="fieldset-id"> -->
      {% for form in formset.forms %}
        <div class="border border-lgray rounded-md p-4 -mx-4 inline-block max-w-full">
          <div class="initial-form column-form flex -mx-3 mb-3">
            <div class="px-3 mb-2">
              <label class="block not-italic mb-2" for="{{ form.name.id_for_label }}">
                {{ form.name.label }}
              </label>
              {{ form.name }}
            </div>
            <div class="px-3">
              <label class="block not-italic mb-2" for="{{ form.type.id_for_label }}">
                {{ form.type.label }}
              </label>
              {{ form.type }}
            </div>
            <div class="from-field-div px-1 w-p92 h-p78">
              <label class="block not-italic mb-2" for="{{ form.range_start.id_for_label }}">
                {{ form.range_start.label }}
              </label>
              {{ form.range_start }}
            </div>
            <div class="to-field-div w-p100 h-p78 px-2">
              <label class="block not-italic mb-2" for="{{ form.range_end.id_for_label }}">
                {{ form.range_end.label }}
              </label>
              {{ form.range_end }}
            </div>
            <div class="px-3 pl-12">
              <label class="block not-italic mb-2" for="{{ form.order.id_for_label }}">
                {{ form.order.label }}
              </label>
              {{ form.order }}
            </div>
            
            <div class="flex flex-col items-center justify-center">
              <button type="button" class="text-red mt-6" id="delete-column-btn">Delete</button>
            </div>
          </div>
          
          <button type="button" class="rounded bg-blue text-white w-32 h-10" name="add-column-btn">Add Column</button>
        </div>
      {% endfor %}
      <!-- </fieldset>  -->
    </div>
      
  </form>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/createSchema/updateFormColumns.js' %}"></script>
<script src="{% static '/js/createSchema/toggleRangeFields.js' %}"></script>
{% endblock %}