<tr class="formset-row{% if forloop.last %} last-form{% endif %}">
  <td class="py-2">
    <label class="block mb-2" for="{{ form.column_name.id_for_label }}">{{ form.column_name.label }}</label>
    {{ form.column_name }}
  </td>
  <td class="px-4">
    <label class="block mb-2" for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
    {{ form.type }}
  </td>
  <td class="from-field-td w-p86 h-p78 mt-1.5 !important">
    <label class="block mb-2" for="{{ form.range_start.id_for_label }}">{{ form.range_start.label }}</label>
    {{ form.range_start }}
  </td>
  <td class="to-field-td w-p116 h-p78 px-4 mt-1.5">
    <label class="block mb-2" for="{{ form.range_end.id_for_label }}">{{ form.range_end.label }}</label>
    {{ form.range_end }}
  </td>
  <td class="px-2 pl-10">
    <label class="block mb-2" for="{{ form.order.id_for_label }}">{{ form.order.label }}</label>
    {{ form.order }}
  </td>
  <td><button type="button" class="delete-column-btn text-red mt-7">Delete</button></td>
</tr>